mixin mail(address, tag)
	#{tag||"span"}.email= address.split("@")[0]
		abbr(lang=language!=="en"?"en":null, title="at") &#64;
		span(lang=language!=="de"?"de":null) finnoconsult
		abbr(lang=language!=="en"?"en":null, title="dot") &#46;
		span(lang=language!=="de"?"de":null) at
