---
title: FinTech Innovationsberatung von Finnoconsult
heading: Über uns
description: Innovationsberatung für Unternehmen im Finanz- und Versicherungswesen.
layout: landing.jade
--- 

- var finnofy = function (text) { var replacement = "Finno".replace(/n/g, "<span class=\"nn\">n</span>"); return text.replace("Finno", replacement); }
.narrative
	p.motto
		strong
			del Man könnte
				br
			del Man sollte
				br
			del Man müsste
				br
			ins Wir machen!
section.narrative#orientation(data-rsg=".3")
	.bubble.bubble-xl
		h2 Unsere Welt
		p Während sich Banken und Versicherungen zunehmend mit den Herausforderungen der digitalen Transformation konfrontiert sehen, bringen #[b neue #[span(lang="en") Player]] innovative Geschäftsmodelle ins Spiel und stellen damit #[b neue Regeln] auf.
		p #[b In dieser Welt des digitalen Wandels ist Finnoconsult zuhause.] Wir bieten unseren Kunden Orientierung, machen ungesehene Chancen sichtbar, finden und erfinden Lösungen und setzen sie gemeinsam um.
	.bubble.bubble-breakout
		h2 Unser Plus
		p.math
			strong Finanzerfahrung 
			strong #[abbr(title="kombiniert mit") +] Ideenreichtum 
			strong #[abbr(title="ergibt") =] Finnoconsult
				span.print .
section.narrative#experience(data-rsg=".6")
	h2 Unsere Erfahrung
	h3.print Christian Berger
	p
		img.bubble-photo(src="/img/photo-christianberger.jpg", alt="Foto von Christian Berger")
		br.screen
		b Christian Berger
		|  hat 25&nbsp;Jahre in Banken gearbeitet und bringt langjährige Managementerfahrung im Retailvertrieb, im Produktmanagement, in Kooperationen und in der #[abbr(title="Informationstechnologie") IT] mit. Vor der Gründung von #[strong Finnoconsult] war Chris bis 2015 als CEO des Innovationslabors BeeOne in der Erste&nbsp;Group tätig. Der passionierte Segler und Pionier in der FinTech- und InsureTech-Szene wird als umsichtiger Stratege, konstruktiver Sparringpartner und konsequenter Umsetzer geschätzt.
	h3.print Martin Schachinger
	p 
		img.bubble-photo(src="/img/photo-martinschachinger.jpg", alt="Foto von Martin Schachinger")
		br.screen
		b Martin Schachinger
		|  hat 15&nbsp;Jahre in Banken und Versicherungen gearbeitet, davor über ein Jahrzehnt als  #[abbr(title="Informationstechnologie") IT]-Entwickler und Berater. Vor der Gründung von #[strong Finnoconsult] war Martin als Prokurist bei BeeOne tätig. Martin ist begeisterter Kleinunternehmer, Naturfreund und betreibt einen Reitstall. Er wird als Querdenker mit wissenschaftlichem und praktischem Hintergrund geschätzt.
section.narrative#activation(data-rsg=".7")
	h2 Unser Zugang
	p
		b Neue Techniken und Kanäle bieten neue Möglichkeiten und prägen Unternehmen. 
		| Wir verstehen Finanztechnologie als Ideengeschäft im globalen Markt. Als Experten mit außergewöhnlichem Erfahrungs&shy;schatz bieten wir Finanz-Innovationsberatung inklusive Umsetzung an:
	ul.bubbles
		li.bubble #[b Wir helfen Vorständen,] die Auswirkungen der digitalen Transformation auf ihr Unternehmen besser zu verstehen.
		li.bubble #[b Wir helfen Unternehmen,] sich so zu verändern, dass Innovationen schneller und besser als bisher möglich werden.
		li.bubble #[b Wir helfen beim Aufbau] von innovativen digitalen Services, agilen Prozessen und flexiblen Strukturen.
section.narrative.invert#engagement(data-rsg=".4")
	h2 Ready, Set, Go!
	section
		h3!= " " + finnofy("FinnoScore")
		p #[a(href="https://finnoscore.finnoconsult.at/") #[b FinnoScore]] gibt Ihnen Aufschluss darüber, wie Ihr Unternehmen im digitalen und mobilen Wettbewerb abschneidet.
		p Die #[b FinnoScore] Ergebnisse basieren auf öffentlich verfügbaren Informationen, bewertet wird auf Basis von 300&nbsp;Kriterien die erlebbare und objektivierbare digitale Innovations&shy;wirkung eines Finanz&shy;dienst&shy;leisters nach außen. Wir liefern eine objektive und unabhängige Standort&shy;bestimmung, kostenlos und aus der Sicht der Kunden.
	section
		h3!= " " + finnofy("FinnoPretation")
		p In #[b FinnoPretation]-Workshops erläutern wir mit unseren Kunden die Ergebnisse, gleichen das Innovations&shy;potential mit bestehenden Strategien ab und präsentieren Ihnen konkrete Projekt&shy;vorschläge und Sofort&shy;maßnahmen damit sich ihr Institut im digitalen Wettbewerb gezielt verbessern kann.
		p Durch unsere umfassende Analyse von 160&nbsp;Instituten in Europa und Nord&shy;amerika können wir auf #[span(lang="en") Best&nbsp;Practices] von vielen Banken zugreifen und somit schnell mit unseren Kunden die Handlungs&shy;felder für zukünftige Entwicklungen klar eingrenzen.
	section
		h3!= " " + finnofy("FinnoProjekt")
		p Gemeinsam mit Ihnen setzen wir ein #[b FinnoProjekt] pilothaft von der Konzeption bis zur Markt&shy;einführung einer Innovation um. Aufgrund der Erfahrungen aus dem Pilot&shy;projekt liefern wir Ihnen ein für Ihr Unternehmen maß&shy;geschneidertes Modell für digitale Innovation und Transformation. Schnelle und gezielte Effizienz&shy;steigerung durch Verwertung des Erlernten, sozusagen.
section.narrative#realization(data-rsg=".4")
	h2(data-title="Leistungspakete") FinnoPretation - Leistungspakete
	p Wir bieten vier Leistungspakete an um Ihnen die #[strong FinnoScore] Ergebnisse, Vergleichsdaten und #[span(lang="en") Best&nbsp;Practices] im Detail zu erläutern und mit Ihnen gezielte Handlungsempfehlungen abzuleiten.
	figure.packages
		figcaption.print Umfang & Preis je&nbsp;Leistungspaket
		table
			thead
				- var thc = ["col-name", "col-compare", "col-reach", "col-price"] 
				- var tht = ["Paket", "Referenzgruppe", "Reichweite", "Preis"] 
				tr
					th.print(scope="col", class=thc[0])= tht[0]
					th(scope="col", class=thc[1])= tht[1]
						sup.print#ref-note-1
							a(href="#note-1") [1]
					th(scope="col", class=thc[2])= tht[2]
					th(scope="col", class=thc[3])
						b= tht[3]
			tbody
				tr.package
					th(scope="row", class=thc[0])!= finnofy("FinnoScore") + " DOMESTIC"
					td(class=thc[1], data-col=tht[1]) ausschließlich Banken
					td(class=thc[2], data-col=tht[2]) beschränkt auf ein Land
					td(class=thc[3], data-col=tht[3]) EUR #[data.price(value=6000) 6.000]
				tr.package
					th(scope="row", class=thc[0])!= finnofy("FinnoScore") + " EUROPE"
					td(class=thc[1], data-col=tht[1]) ausschließlich Banken
					td(class=thc[2], data-col=tht[2]) europaweit
					td(class=thc[3], data-col=tht[3]) EUR #[data.price(value=8000) 8.000]
				tr.package
					th(scope="row", class=thc[0])!= finnofy("FinnoScore") + " GLOBAL"
					td(class=thc[1], data-col=tht[1]) #[span(lang="en") Cross-Industry]#[br](Banken, Telcos, Retailer, eCommerce, Media, etc.)
					td(class=thc[2], data-col=tht[2]) weltweit
					td(class=thc[3], data-col=tht[3]) EUR #[data.price(value=12000) 12.000]
				tr.package
					th(scope="row", class=thc[0])!= finnofy("FinnoScore") + " GROUP"
					td(class=thc[1], data-col="Information", colspan="2") Workshops sind individuell anpassbar entsprechend der Größe der Bankengruppe
					td(class=thc[3], data-col="Discount") Ermässigung#[br]bei 3-10 Banken: #[span.discount 20%]#[br]bei > 10 Banken: #[span.discount 30%]
		p.notes.print
				small
					a(id="note-1", href="#ref-note-1") 1)
					|  für Vergleichsdaten und #[span(lang="en") Best&nbsp;Practices]
	figure.options
		figcaption.print Erweiterungen zum jeweiligen Leistungspaket
		ol
			li.option
				h4
					strong Zusatzoption&nbsp;1
					br
					span(lang="en") Trend- & Opportunity Exploration
				ul
					li Referenzierung von definierten Themenfeldern zu aktuellen Megatrends.
					li Entwicklung von Opportunitäten und einem Modell für ein laufendes und strukturiertes Trend-Monitoring.
				p #[b Preis:] individuell festzulegen&thinsp;&ndash;&thinsp;abhängig von der Anzahl der Themenfelder.
			li.option
				h4
					strong Zusatzoption&nbsp;2
					br
					span(lang="en") Solution Scouting & Evaluation
				ul
					li #[span(lang="en") Screening] und Grobevaluierung von Lösungs&shy;möglichkeiten und Anbietern für spezifische Themenfelder und Lösungswünsche.
				p #[b Preis:] individuell festzulegen&thinsp;&ndash;&thinsp;abhängig von der Komplexität der Themenfelder.
