form(action="/contacting.php", method="post", encType="multipart/form-data")
	p
		label(for="name")= __("Your name")
		br
		input(type="text", name="name", id="name", placeholder=__("First name, last name"), maxlength="200")
	p
		label(for="email")= __("Your e-mail")
		br
		input(type="email", name="email", id="email", placeholder=__("contact@example.com"), required, maxlength="200")
	p
		label(for="message")= __("Your specific area of interest")
		br
		textarea(name="message", id="message", maxlength="7000", placeholder=__("I am interested in…\n\nPlease contact me at…"))
	p.form-action.screen
		input(type="text", name="_honey", value="", style="display:none")
		input(type="hidden", name="_honeypot", value="", style="display:none")
		input(type="hidden", name="_replyto", value="%email")
		input(type="hidden", name="_after", value=homepage+linkTo(locale, "/contacted"))

		block hiddenfields

		button.button(type="submit")= __("Send")
