doctype html
- moment.locale(locale)
html.no-js(lang=locale)

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		meta(name="version", content=version)
		block title
			title= title + " · Finnoconsult"
		if description
			meta(name="description", content=description)
			meta(property="og:type", content=basePath === "/" ? "website" : "article")
			meta(property="og:site_name", content=homepage.split("/")[2])
			meta(property="og:title", content=heading || title)
			meta(property="og:description", content=description)
			meta(property="og:image", content=media ? media.thumbnail : (homepageCentral||homepage)+"/img/we-do.png")
			meta(property="og:url", content=homepage+path)
			meta(name="twitter:card", content="summary")
		include includes/hreflang
		block styles
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Alegreya")
			<!--[if lt IE 9]><style>p,li{width:500px}th,td{padding:8px;border:1px solid #ccd2dc}</style><![endif]-->
			<!--[if gt IE 8]><! -->
			link(rel="stylesheet", data-inline, href="/css/all.css")
			<!-- <![endif]-->
			<!--[if lte IE 9]><link rel="stylesheet" media="screen" href="/css/oldie.css"><![endif]-->
			<!--[if IE 9]><link rel="stylesheet" href="/css/print.css"><![endif]-->
			<!--[if gt IE 9]><! -->
			link(rel="stylesheet", media="print", data-inline, href="/css/print.css")
			link.ctm(rel="stylesheet", media="screen", data-inline, href="/css/screen.css")
		<!-- <![endif]-->
		include includes/icon
		script(data-inline, src="/js/ctm.js")
		script(data-inline, src="/js/loadJS.js")
		if noindex
			meta(name="robots", content="noindex,follow")
		link(rel="canonical", href=homepage+path)

	body
		block header
			include includes/header
		block main
			!= contents
		block navigation
			include includes/navigation
		block footer
			include includes/footer
		block cookie
			include includes/cookie
		block scripts
			script(data-inline, src="/js/cookie.js")
