extends ./blog.jade

block main
	main.narrative.post
		h1= heading || title
		p.post-meta
			small.avatar= __("By ")
				a(href="#TODO")= author
			small.time= __(" on ")
				time.entry-date.published(datetime=created.toISOString())= created
		p.post-teaser
			img(src=media.hero, alt="")
		!= contents

		aside.sharing
	
