extends ./base.jade

append styles
	style(media="screen")
		| .icon{display:inline-block;width:2rem;background:#fff;border-radius:50%;font-size:0;line-height:2rem;text-align:center}
		| svg{width:1rem;height:1rem;vertical-align:middle}
		| path{fill:#231f20}
		| main dt{position:absolute}
		| main dd{padding:.375em 0 .75em 3em;line-height:1.25;word-break:break-all}
		| @media (min-width:48em){main dd{white-space:nowrap}}
		| @media (min-width:64em){.photo{position:absolute;right:50%;margin-right:5em}main dl{margin:3.5em 0 0 calc(50% - 1em)}}
	style(media="print") svg{display:none}

block main
	main.narrative.invert.vcard
		- var heading = heading || title
		h1.fn.n= heading
		p
			img.photo.bubble-photo(src=photo, alt="Foto von "+heading)
		dl
			dt.icon
				img(src="/img/icon-fa-user.svg")
				|  Business Card
			dd
				- var linkPath = file.slice(0, -".html".length)
				a.url.hide-link(href=homepage+linkPath)= homepage.split("/")[2] + "/" + linkPath
			dt.icon
				img(src="/img/icon-fa-envelope.svg")
				|  e-Mail
			dd.email
				- var mp = email.replace("@", ".").split(".")
				= " " + mp[0]
				abbr(lang="en", title="at") &#64;
				= mp[1]
				abbr(title="Punkt") &#46;
				abbr= mp[2]
			dt.icon
				img(src="/img/icon-fa-phone.svg")
				|  Telefon
			dd
				- var pp = phone.split(" ")
				a.tel(href="tel:"+pp.join(""))
					|  #{pp[0]}#[span.prefix= pp[1]]#{pp[2]}
		if social
			dl
				each elsewhere in social
					dt.icon
						if elsewhere.url.indexOf("linkedin") !== -1
							img(src="/img/icon-fa-linkedin.svg")
						else if elsewhere.url.indexOf("xing") !== -1
							img(src="/img/icon-fa-xing.svg")
						= " " + elsewhere.name
					dd
						a(rel="me", href=elsewhere.url)= elsewhere.url.slice(elsewhere.url.indexOf("/") + 2)

		dl
			dt.icon
				img(src="/img/icon-icomoon-office.svg")
				|  Firmenanschrift
			dd
				b.org FInno Consult #[abbr GmbH]
				.adr
					span.street-address Rasumofskygasse&nbsp;26
					br
					span.postal-code 1030
					| &nbsp;
					span.locality Wien
					br.print
					span.country-name.print &Ouml;sterreich
